#titulo {
    color: cornflowerblue;
}

.rosa {
    color: #ff0084;
}

h1 {
    color: #ff3aa0;
    font-family: Arial, Helvetica, sans-serif
}

p {
    color: #ff0084ca;
}

h1 {
    color: pink;
}

.titulos-grandes {
    font-size: 30px;
}